DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=7d

PORT=5000

GITHUB_TOKEN=

# Elasticsearch
ELASTICSEARCH_NODE=http://localhost:9200
# Optional security settings
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_API_KEY=
